.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header-main-container {
  height: 70px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  font-size: 24px;
}

.movies-main-container {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.movie-main-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
  padding: 5px;
}

.movie-detail-main-container {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.movie-detail-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
  padding: 5px;
}

.header-title > a {
  text-decoration: none;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
